[Unit]
Description=IceS0 Client
After=network.target

[Service]
User=ices0
Type=forking
Environment=TMPDIR=/var/tmp
ExecStart=/usr/bin/ices0 -c /etc/ices0.conf -B

[Install]
WantedBy=multi-user.target
